@charset "UTF=8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: android;
    src: url(../fontes/idroid.otf) format(opentype);
    font-weight: normal;
}
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fontePadrao: Arial, Helvetica, Verdana, sans-serif;
    --fontDestaque: 'Bebas Neue', cursive;
    --fonteIdroid: 'android', cursive;
}

* {
    font-family: var(--fontePadrao);
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor0);
}

body a.external{
    text-decoration: none;
    background-color: var(--cor2);
    margin: 0px 5px;
    border-radius: 4px;
}

body a.external:hover {
    text-decoration: underline;
    color: var(--cor5);
}

body a.external::after {
    content: '\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    color: white;
    padding: 20px;
}

header > h1 {
    font-family: var(--fontDestaque);
    text-align: center;
    font-size: 3em;
    padding: 20px;
    text-shadow: 3px 5px 8px rgba(0, 0, 0, 0.400);
}

header > p {
    font-size: 1.2em;
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 10px;
    text-shadow: 3px 5px 8px rgba(0, 0, 0, 0.400);
}

nav {
    background-color: var(--cor4);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.300);
    padding: 10px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 8px;
}

nav > a:hover {
    text-decoration: underline;
    background-color: var(--cor5);
    border-radius: 3px;
    transition-duration: .1s;
}

nav > a:active {
    transition: none;
    background-color: var(--cor3);
    color: black;
}

main {
    background-color: white;
    max-width: 1000px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    margin-bottom: 50px;
    text-align: justify;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.300);
}

main h1 {
    font-family: var(--fonteIdroid);
    font-size: 1.8em;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    color: var(--cor5);
    margin: 0px 0px 12px -20px;
}

main h2 {
    font-family: var(--fonteIdroid);
    font-size: 1.5em;
    color: var(--cor4);
    padding: 15px 0px 7px 0px;
}

main p {
    font-size: 1.2em;
    text-indent: 30px;
    line-height: 30px;
}

main p > strong {
    color: var(--cor5);
    margin: 0px 1px;
}

main p > em {
    color: var(--cor5);
}

main img {
    width: 100%;
}

main .pq {
    width: 60%;
    display: block;
    margin: auto;
}

main .video {
    background-color: var(--cor5);
    margin: 10px -20px 30px -20px;
    padding: 10px;
    padding-bottom: 57.6%;
    position: relative;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.300);
}

main .video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor0);
    margin: 0px -20px;
    border-radius: 10px 10px 0px 0px;
    padding: 20px 10px 0px 10px;
    border-radius: 10px;
    margin: 0px 10px 20px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.300);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin: -20px -10px 0px -10px;
}
aside > ul {
    list-style-position: inside;
    columns: 2;
    padding-bottom: 20px;
}

footer {
    background-color: black;
}

footer > p {
    color: white;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

footer a:active {
    color: black;
}